body {
	margin: 0%;
	padding: 0%;
	background: linear-gradient(#76278F, #2B1E66);
	font-family: 'Montserrat', sans-serif;
}

/* clases reutilizables */

.uppercase{
	text-transform: uppercase;
}

.capitalize{
	text-transform: capitalize;
}

.subtitle{
	font-size: 180%;
}

.gray{
	color: #728099;
}
/* section header */

header {
	width: 100%;
	position: fixed;
}

/* .lyft1{
	display: inline-block;
} */

/* .logo-white{
	width: 30%;
	height: 10%;
} */

.nav{
	position: absolute;
	right: 10%;
	padding-top: 2%;
	font-size: 150%;
	
}

.main{
	text-decoration: none;
	padding-right: 5%;
}

/* #cover{
	background-image: url("../assets/images/hero.gif");
	background-size: cover;
} */

/* formulario */
.form{
	background-color: #ffffff;
	width: 40%;
	position: absolute;
	right: 0%;
    top: 10%;/
}

.form-cover{
	padding-left: 15%;
	padding-top: 10%;
	padding-bottom: 10%;
}

h1{
	width: 80%;
	color: #352384;
	font-size: 230%;
	margin: 0%; 	
}

.textp{
	margin: 0;
	color: #728099;
	font-size: 90%;
	display: block;
}

.number-phone{
	margin: 20px 0px 20px 0px;
    border: 0px;
    border-bottom: 1px solid black;
	font-size: 20px;
	display: block;
} 

.button{
	background-color: #FF00BF;
	color: #ffffff;
	border-radius: 10px;
    font-size: 90%;
    border: 0px;
    padding: 5%;
    display: inline-block;
	width: 45%;
}

.sign{
	padding-left: 4%;
}

.link{
	font-size: 60%;
	padding-top: 2%;
}

/* section About */

.about {
	width: 100%;
	height: 140%;
	color: #ffffff;
	padding-top: 50%;
	display: inline-block;  
} 

.phone{
	width: 40%;
	height: 60%;
	position: absolute;
	right: 10%;
    top: 85%;
}

.information {
	width: 34%;
	padding-left: 10%;
}

/* section the article */

.article {
	width: 30%;
	height: 50%;
	background: #ffffff;
	padding-left: 5%;
	padding-top: 5%;

}

.p-article{
	width: 76%;
}

/* .video{
	width: 60%;
	
}

.container-video{
	width: 60%;
	height: 50%;
	display: inline-block;
} */

.more{
	background-color: #ffffff;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 8%;
	padding-left: 5%;
}

.columns{
	display: inline-block;
	width: 40%;
	padding-left: 5%;
}

/* other input */

.city {
	width: 100%;
	height: auto;
}

.img-city{
	width: 25%;
	height: 50%;
	padding-left: 10%;
	position: relative;
	top: 10%;
}

.columns2{
	display: inline-block;
	width: 40%;
	padding-left: 15%;
	position: absolute;
	padding-top: 10%;
}

/* fotter */

footer {
	width: 100%;
	background: #333447;
	padding-left: 5%;
}

.options{
	width: 20%;		
	display: inline-block;
	color: #ffffff;
}

.img-footer{
	width: 30%;
	display: inline-block;
	position: absolute;
	padding-top: 5%;
	padding-left: 5%;
}

.logo{
	width: 50%;
	height: 30%;
	display: block;
	padding-top: 4%;
}

ul{
	list-style: none;
}

a{
	text-decoration: inherit;
	color: #728099; 
}

a:hover{
	color: #FF00BF;
}




