body {
	margin: 0%;
	padding: 0%;
}
header {
	width: 100%;
	height: 8%;
	background: orange;
	position: absolute;
}
main {
	width: 100%;
	height: 33%;
}
.about {
	width: 100%;
	height: 140%;
	background: #5c2381;
	color: #ffffff;
	position: absolute;
}
article {
	width: 100%;
	height: 41%;
	background: #ffffff;
}
.learn-more {
	width: 100%;
	height: 41%;
	background: blue;
}
.city {
	width: 100%;
	height: 44%;
	background: purple;
}
footer {
	width: 100%;
	height: 44%;
    background: #333447;
}
.about > .phone {
	position: relative;
	float: right;
	width: 40%;
	height: 50%;
}
/*.menu > .logo {
	width: 5%;
	height: 5%;
}*/
.about > .information {
	position: absolute;
	margin: 12%;
}
.title{
	font-family: 'Montserrat', sans-serif; 
}
/*.paragraph*/
